<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>DCR-Room</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'sacred/material-components-web.css' %}">
</head>

<body>
    <p id="messagelist"></p>

    <form name="inputmessage" id="inputmessage">
        {% csrf_token %}
        {{ form }}
        <div class="button">
            <button type="submit">send</button>
        </div>
    </form>
    {% load static %}
    <script src="{% static 'sacred/material-components-web.js' %}"></script>
    <script src="{% static 'sacred/chat.js' %}"></script>
    <script>mdc.autoInit()</script>
</body>
</html>
