<!DOCTYPE html>
<html class="mdc-typography">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width~device-widthm initial-scale=1">
    <title>DCR-Room</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'sacred/material-components-web.css' %}">
    <link rel="stylesheet" href="{% static 'sacred/dcr.css' %}">
</head>

<body class="mdc-typography">
    <header class="mdc-toolbar mdc-toolbar-fixed">
        <div class="mdc-toolbar__row">
            <span class="mdc-toolbar__title">DCR</span>
            <button id="komabutton" class="mdc-button mdc-button--raised">koma</button>
            <button id="imageupload" class="mdc-button mdc-button--raised">upload</button>
        </div>
    </header>
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__cell mdc_layout-grid__cell--span-4 chat-container">
                <div class="chat-message" id="chat-message">
                    <p id="messagelist"></p>
                </div>
                <div class="chat-input" id="chat-input">
                    <form name="inputmessage" id="inputmessage">
                        <div class="mdc-form-field">
                            {% csrf_token %}
                            {{ form }}
                        </div>
                        <div class="button">
                            <button type="submit" class="mdc-button mdc-button--raised">send</button>
                        </div>
                    </form>
                </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
            <div id="map" width="400px" height="400px">
            </div>
        </div>
    </div>
    <div id="getimagemodal" class="modal">
        <div class="modal-content">
            <header class="mdc-dialog_header">
                <h2 id="mdc-dialog-default-label" class="mdc-dialog__header_title">
                    get images
                </h2>
            </header>
            <section id="getimagemodal-discription" class="mdc-dialog__body">
                <div id="imagelist" class="image-selector">
                </div>
            </section>
            <footer class="mdc-dialog__footer">
                <button type="button" id="putkoma" class="mdc-button mdc-dialog__footer_button">OK</button>
                <button type="button" id="closegetimagemodal" class="mdc-button mdc-dialog__footer_button mdc-dialog__footer_button--cancel">CANCEL</button>
            </footer>
        </div>
    </div>
    <div id="postimagemodal" class="modal">
        <div class="modal-content">
            <header class="mdc-dialog_header">
                <h2 id="mdc-dialog-default-label" class="mdc-dialog__header_title">
                    post images
                </h2>
            </header>
            <section id="postimagemodal-discription" class="mdc-dialog__body">
                <div>
                    <form id="uploadimages">
                        <input name="image" type="file">
                        <select name="imagetype" form="uploadimages">
                            <option value="KOMA">koma</option>
                            <option value="MAP">map</option>
                        </select>
                    </form>
                </div>
            </section>
            <footer class="mdc-dialog__footer">
                <button type="button" id="uploadimagebutton" class="mdc-button mdc-dialog__footer_button">OK</button>
                <button type="button" id="closepostimagemodal" class="mdc-button mdc-dialog__footer_button mdc-dialog__footer_button--cancel">CANCEL</button>
            </footer>
        </div>
    </div>
    {% load static %}
    <script src="{% static 'sacred/konva.min.js' %}"></script>
    <script src="{% static 'sacred/dcr.js' %}"></script>
    <script src="{% static 'sacred/material-components-web.js' %}"></script>
    <script>mdc.autoInit()</script>
</body>
</html>
